*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 16px;
}

header{
    position: fixed;
    height: 120px;
    width: 100%;
    z-index: 1;
    background: rgba(51,55,66,255);
}

.logo{
    width: 180px;
    height: 100px;
    position: absolute;
    left: 3%;
    margin: 10px 0 0 0;
}

#svg-logo{
    width: inherit;
    height: inherit;
    z-index: 1;
}

.more{
    display: flex;
    width: 700px;
    height: 30px;
    background: transparent;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 30px;
    color: white;
}

#place,
#time,
#phone{
    color: rgb(229, 96, 1);
    margin: 0 -24px 0 0;
}

.navigation{
    position: absolute;
    display: flex;
    width: 70%;
    height: 50px;
    background: whitesmoke;
    justify-content: space-evenly;
    align-items: center;
    right: 10px;
    bottom: 0;
    border-radius: 10px;
    /* box-shadow: 5px 5px 30px 10px rgba(255, 255, 255, 0.384); */
}

.navigation > nav > ul > li {
    display: inline-block;
    margin: 0 0 0 20px;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.navigation > nav > ul > li > a:hover {
    color: rgb(226, 154, 20);
}

input[type="search"]{
    border: 1px solid rgba(139, 140, 145, 0.63);
}

input[type="search"]:focus{
    border: 2px solid rgb(226, 154, 20);
}

input[type="search"]::placeholder{
    font-size: 1rem;
    color: rgba(170, 170, 170, 0.897);
}

.hero{
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    background: url("heropicture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    flex-direction: column;
}

.description{
    width: 70%;
    height: fit-content;
    text-align: center;
}

.description > h1{
    font-size: 3rem;
    color: white;
}

.description > p{
    font-size: 1.3rem;
    color: white;
}

.hero-button{
    height: 50px;
    width: 190px;
    background: rgb(229, 96, 8);
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin: -50px 0 0 0;
}

.hero-button:hover{
    background: rgba(229, 96, 8, 0.658);
    cursor: pointer;
}

form{
    height: fit-content;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input, button[type="submit"]{
    height: 30px;
    width: 180px;
    border-radius: 3px;
    border: 1px solid orange;
    margin: 0 0 0 10px;
}

button[type="submit"]{
    background: rgb(229, 96, 8);
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 300px;
}

button[type="submit"]:hover{
    background: rgba(229, 96, 8, 0.842);
    cursor: pointer;
}


input:focus{
    border: 2px solid rgba(255, 115, 0, 0.555);
    outline: none;
}

.color-text{
    color: rgb(229, 96, 8);
    font-size: 1.2rem;
}

form > h5 {
    font-size: 1.23em;
}

footer{
    position: relative;
    bottom: 0;
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
}

@media screen and (max-width: 880px) {
    /* body{
        overflow-x: hidden;
    } */

    .logo{
        bottom: 0;
        left: 0;
        height: 100px;
        width: 150px;
    }
    
    header{
        position: relative;
    }

    .hero{
        position: relative;
        top: 0;
    }

    #place,
    #time,
    #phone{
        font-size: 20px;
        margin: 0 -10px 0 0;
    }

    .more{
        width: 100%;
        font-size: 0.7rem;
        right: 0;
    }

    .line{
        width: 39px;
        height: 5px;
        background: white;
        margin-bottom: 3px;
        display: none;
    }
    
    .navigation{
        display: none;
    }

    .description > h1{
        font-size: 1.9rem;
    }

    .line{
        display: block;
    }

    #humburger-menu{
        width: fit-content;
        height: fit-content;
        position: absolute;
        bottom: 30px;
        right: 10px;
    }

    @keyframes menuTurn {
        from{
            transform: rotate(360deg)
        };

        to{
            transform: 0;
        }
    }

    #menu-overlay{
        height: fit-content;
        width: 100%;
        background: rgba(51, 55, 66, 0.514);
        /* position: relative; */
        display: none;
        animation: menuIn 150ms ease-in;
    }

    #menu-overlay > nav > ul > li > a{
        color: white;
    }

    #menu-overlay > nav > ul {
        text-align: center;
        list-style: none;
    }

    #menu-overlay > nav > ul > li{

    }

    @keyframes menuIn {
        from{
            opacity: 0;
        }

        to{
            opacity: 1;
            transform: none;
        }
    }

    #menu-x{
        width: fit-content;
        height: fit-content;
        position: absolute;
        bottom: 38px;
        right: 10px;
        display: none;
    }

    .lines{
        width: 39px;
        height: 5px;
        background: white;
        position: relative;
    }

    #linex-1{
        transform: rotate(45deg);
    }

    #linex-2{
        transform: rotate(-45deg);
        margin: 0 0 -2px 0;
        bottom: 3.8px;
        left: 1px;
    }

    
    form{
        flex-direction: column;
        width: 60%;
    }
    
    input,
    button[type="submit"]{
        margin: 0 0 20px 0;
        width: inherit;
    }
    
    footer{
        height: fit-content;
    }
}

@media screen and (max-width: 660px) {
    form{
        width: 80%;
    }
}
