@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

/*HEADER*/
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    position: absolute;
    left: 100px;
    font-weight: 700;
    font-size: 1.3em;
    font-size: 2em;
}

.logo-fullstop{
    color: orange;
}

header nav{
    position: absolute;
    right: 100px;
}

header nav ul li{
    display: inline;
    padding: 0 30px 0 0;
}

header nav ul button{
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

header a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

header a:hover{
 color: rgb(219, 82, 18);
 cursor: pointer;
 border-bottom: 2px solid rgb(219, 82, 18);
 padding: 0 0 7px 0;
 transition: all 550ms;
 -webkit-transition: all 550ms;
 -moz-transition: all 550ms;
 -ms-transition: all 550ms;
 -o-transition: all 550ms;
}

header button a:hover{
    border-bottom: none;
    color: black;
}

#menu-open,
#menu-close{
    display: none;
}

.mobile-menu{
    display: none;
}

.container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 50px 0;
}

.greeting{
    width: 80%;
    height: fit-content;
    text-align: center;
    line-height: 63px;
    margin: 0 0 20px 0;
    overflow: hidden;
}

.greeting p:first-child{
    font-size: 1.9em;
}

.greeting p:nth-child(2){
    font-size: 4em;
}

.about{
    width: 1000px;
    height: 300px;
    /* background: blue; */
    display: flex;
}

.left-side,
.right-side{
    width: 50%;
    height: inherit;
}

.left-side{
    /* background: tan; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side{
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

footer{
    width: 100%;
    height: 90px;
    background: rgb(64, 135, 135);
    
}

@media screen and (max-width: 880px) {
    header nav{
        display: none;
    }
 
    header{
        height: 30px;
        transition: all 1s linear;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -ms-transition: all 1s linear;
        -o-transition: all 1s linear;
        overflow: hidden;
    }

    #menu-open,
    #menu-close{    
        display: block;
        position: absolute;
        right: 10px;
    }

    #menu-close{
        display: none;
    }

    .mobile-menu{
        width: 100%;
        height: 100vh !important;
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='500' height='3000' preserveAspectRatio='none' viewBox='0 0 500 3000'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1424%26quot%3b)' fill='none'%3e%3crect width='500' height='2000' x='0' y='0' fill='rgba(70%2c 74%2c 143%2c 1)'%3e%3c/rect%3e%3ccircle r='46.105' cx='413.23' cy='1419.58' fill='url(%23SvgjsLinearGradient1425)'%3e%3c/circle%3e%3ccircle r='28.195' cx='98.57' cy='1937.78' fill='url(%23SvgjsLinearGradient1426)'%3e%3c/circle%3e%3ccircle r='42.77' cx='321.5' cy='803.7' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='16.165' cx='47.31' cy='2606.41' fill='url(%23SvgjsLinearGradient1427)'%3e%3c/circle%3e%3ccircle r='30.49' cx='489' cy='2115.69' fill='url(%23SvgjsLinearGradient1428)'%3e%3c/circle%3e%3ccircle r='25.955' cx='120.96' cy='765.48' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='45.005' cx='416.39' cy='1059.27' fill='url(%23SvgjsLinearGradient1429)'%3e%3c/circle%3e%3ccircle r='36.51' cx='450.61' cy='419.87' fill='url(%23SvgjsLinearGradient1430)'%3e%3c/circle%3e%3ccircle r='34.175' cx='479.17' cy='1145.41' fill='url(%23SvgjsLinearGradient1431)'%3e%3c/circle%3e%3ccircle r='18.215' cx='376.5' cy='428.47' fill='url(%23SvgjsLinearGradient1432)'%3e%3c/circle%3e%3ccircle r='41.63' cx='256.72' cy='605.74' fill='url(%23SvgjsLinearGradient1433)'%3e%3c/circle%3e%3ccircle r='18.385' cx='77.58' cy='950.36' fill='url(%23SvgjsLinearGradient1434)'%3e%3c/circle%3e%3ccircle r='40.615' cx='408.22' cy='1121.64' fill='url(%23SvgjsLinearGradient1435)'%3e%3c/circle%3e%3ccircle r='37.37' cx='375.61' cy='2046.45' fill='url(%23SvgjsLinearGradient1436)'%3e%3c/circle%3e%3ccircle r='25.88' cx='469.73' cy='2709.24' fill='url(%23SvgjsLinearGradient1437)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1424'%3e%3crect width='500' height='3000' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='321.02000000000004' y1='1419.58' x2='505.44000000000005' y2='1419.58' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1425'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='42.17999999999999' y1='1937.78' x2='154.95999999999998' y2='1937.78' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1426'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='14.980000000000004' y1='2606.41' x2='79.64' y2='2606.41' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1427'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(70%2c 74%2c 143%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='428.02' y1='2115.69' x2='549.98' y2='2115.69' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1428'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='326.38' y1='1059.27' x2='506.4' y2='1059.27' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1429'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(70%2c 74%2c 143%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='377.59000000000003' y1='419.87' x2='523.63' y2='419.87' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1430'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='410.82000000000005' y1='1145.41' x2='547.52' y2='1145.41' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1431'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='340.07' y1='428.47' x2='412.93' y2='428.47' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1432'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='173.46000000000004' y1='605.74' x2='339.98' y2='605.74' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1433'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(70%2c 74%2c 143%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='40.809999999999995' y1='950.36' x2='114.35' y2='950.36' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1434'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='326.99' y1='1121.64' x2='489.45000000000005' y2='1121.64' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1435'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='300.87' y1='2046.45' x2='450.35' y2='2046.45' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1436'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(70%2c 74%2c 143%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='417.97' y1='2709.24' x2='521.49' y2='2709.24' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1437'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
        z-index: 9;
        position: fixed;
        top: 0;
        display: none;
        animation: menuMovement 1s linear;
        -webkit-animation: menuMovement 1s linear;
    }

    .logo{
        left: 20px;
        font-size: 1.9em;
        margin: 10px 0 0 0;
    }

    .profile-picture{
        width: 200px;
        height: 200px;
        background: teal;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin: 0 auto;
        position: relative;
        top: 50px;
        animation: contentMovement 1.3s linear;
        -webkit-animation: contentMovement 1.3s linear;
    }

    .navigation{
        width: 200px;
        height: 250px;
        background: rgba(230, 227, 227, 0.418);
        border-radius: 10px;
        margin: 0 auto;
        position: relative;
        top: 80px;
        animation: contentMovement 1.3s linear;
        -webkit-animation: contentMovement 1.3s linear;
        text-align: center;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .navigation a{
        text-decoration: none;
        color: white;
        font-weight: 600;
    }

    .navigation li{
        padding: 30px 0 20px 0;
        list-style: none;
    }

    .mobile-menu .typing{
        position: relative;
        top: 100px;
        font-weight: 400;
        color: white;
        font-family: 'Gemunu Libre', sans-serif;
        font-weight: 300;
    }

    .typed-cursor{
        display: none;
    }

    .navigation button{
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background: rgba(255,82,78,1);
    }

    @keyframes menuMovement {
        from{
            transform: translateX(500px);
            -webkit-transform: translateX(500px);
            -moz-transform: translateX(500px);
            -ms-transform: translateX(500px);
            -o-transform: translateX(500px);
        }

        to{
            transform: none;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
        }
    }

    @keyframes contentMovement {
        from{
            transform: translateY(-60px);
            -webkit-transform: translateY(-60px);
            -moz-transform: translateY(-60px);
            -ms-transform: translateY(-60px);
            -o-transform: translateY(-60px);
            opacity: 0;
}

        to{
            transform: none;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            opacity: 1;
        }
    }

    .greeting{
        height: fit-content;
        /* background: yellow; */
        text-align: center;
        line-height: 63px;
        margin: 30px 0 50px 0;
    }

    .greeting p:nth-child(2){
        font-size: 2.4em;
    }

    .about{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }

    .container{
        /* background: teal; */
    }

    .left-side,
    .right-side{
        width: 80%;
        overflow: hidden;
        height: fit-content;
    }

    .right-side{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        width: 90%;
    }

    .text{
        width: 90%;
        text-align: center;
    }

    footer{
        display: block;
    }
}