/*HEADER*/
:root{
    --primary-color : #1f446b;
    --primary-color-lighter: #2a597a;
    --secondary-color : #336a89;
    --secondary-color-lighter: #407e96; 
    --link-color: #038282;
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white !important;
}

.logo{
    position: absolute;
    left: 100px;
}

#header-logo{
    font-weight: 700;
    font-size: 2em !important;
}

.logo-fullstop{
    color: orange;
}

header nav{
    position: absolute;
    right: 100px;
}

header nav ul li{
    display: inline;
    padding: 0 30px 0 0;
}

header nav ul button{
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

header a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    position: relative;
}

header nav ul li a{
    padding: 0 0 3px 0;
}

header nav ul li a::after,
.home-link a::after{
    content: "";
    width: 0px;
    color: blue;
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
}

header nav ul li:hover a::after{
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--secondary-color);
    transform-origin: left;
    width: 89px;
}

.home-link:hover a::after{
    width: 53px;
}

header a:hover{
    color: var(--secondary-color);
    cursor: pointer;
    transition: all 550ms;
    -webkit-transition: all 550ms;
    -moz-transition: all 550ms;
    -ms-transition: all 550ms;
    -o-transition: all 550ms;
}

.header-btn{
    width: 100px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: var(--primary-color-lighter);
}

.header-btn a{
    color: white;
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
}

.header-btn:hover{
    background-color: var(--secondary-color);
    color: white;
}

.header-btn:hover a{
    color: white;
}
   
header button a:hover{
    color: black;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

#header-logo:hover{
    color: black;
    
}

#menu-open,
#menu-close{
    display: none !important;
}

.mobile-menu{
    display: none;
}

footer{
    width: 100%;
    height: 60px;
    background: #1f446b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

footer p{
    color: white;
    font-size: 1.3em;
    margin: 0 20px 0 0;
}

.socials{
    height: 50px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 0 20px;
}

.socials i{
    font-size: 1.4em;
    color: white;
    margin: 0 10px 0 0;
}

.socials i:hover{
    color: rgba(220, 220, 220, 0.829);
    cursor: pointer;
}


@media screen and (max-width: 880px) {
    header nav{
        display: none;
    }
 
    header{
        height: 50px;
        transition: all 1s linear;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -ms-transition: all 1s linear;
        -o-transition: all 1s linear;
        overflow: hidden;
    }

    .mobile-menu{
        width: 100%;
        height: 100vh !important;
        background: var(--secondary-color);
        z-index: 9;
        position: fixed;
        top: 0;
        display: none;
        animation: menuMovement 1s linear;
        -webkit-animation: menuMovement 1s linear;
        -moz-animation: menuMovement 1s linear;
        overflow-y: scroll;
    }

    .logo{
        position: absolute;
        left: 20px;
        font-size: 1.9em;
        margin: 10px 0 0 0;
    }

    #header-logo{
        font-weight: 700;
        font-size: 1em !important;
    }

    #menu-open,
    #menu-close{    
        display: block !important;
        position: absolute;
        right: 10px;
        font-size: 3em;
    }

    #menu-close{
        display: none;
    }

    .profile-picture{
        width: 200px;
        height: 200px;
        background: teal;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin: 0 auto;
        position: relative;
        top: 50px;
        animation: contentMovement 1.3s linear;
        -webkit-animation: contentMovement 1.3s linear;
    }

    .navigation{
        width: 70%;
        height: fit-content;
        background: rgba(230, 227, 227, 0.418);
        border-radius: 10px;
        margin: 0 auto;
        position: relative;
        top: 80px;
        animation: contentMovement 1.3s linear;
        -webkit-animation: contentMovement 1.3s linear;
        text-align: center;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-size: 1em !important;
    }

    .navigation a{
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-size: 1em !important;
    }

    .navigation li{
        padding: 30px 0 20px 0;
        list-style: none;
    }

    .mobile-menu .typing{
        position: relative;
        top: 100px;
        font-weight: 400;
        color: white;
        font-family: 'Gemunu Libre', sans-serif;
        font-weight: 300;
    }

    .typed-cursor{
        display: none;
    }

    .navigation button{
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background: var(--secondary-color);
        margin: 0 0 10px 0;
    }

    /*Animation*/
    @keyframes menuMovement {
        from{
            transform: translateX(500px);
            -webkit-transform: translateX(500px);
            -moz-transform: translateX(500px);
            -ms-transform: translateX(500px);
            -o-transform: translateX(500px);
        }

        to{
            transform: none;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
        }
    }

    @-webkit-keyframes menuMovement {
        from{
            transform: translateX(500px);
            -webkit-transform: translateX(500px);
            -moz-transform: translateX(500px);
            -ms-transform: translateX(500px);
            -o-transform: translateX(500px);
        }

        to{
            transform: none;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
        }
    }

    @keyframes contentMovement {
        from{
            transform: translateY(-60px);
            -webkit-transform: translateY(-60px);
            -moz-transform: translateY(-60px);
            -ms-transform: translateY(-60px);
            -o-transform: translateY(-60px);
            opacity: 0;
        }

        to{
            transform: none;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            opacity: 1;
        }
    }

    @-webkit-keyframes contentMovement {
        from{
            transform: translateY(-60px);
            -webkit-transform: translateY(-60px);
            -moz-transform: translateY(-60px);
            -ms-transform: translateY(-60px);
            -o-transform: translateY(-60px);
            opacity: 0;
        }

        to{
            transform: none;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            opacity: 1;
        }
    }

    .socials i{
        font-size: 1.3em;
    }

    footer p{
        font-size: 1em;
    }
}