@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    /* outline: 1px solid lime; */
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

header a{
    font-size: 1em !important;
}

h1{
    padding: 80px 0 0 0;
}

#my-works{
    width: 100%;
    height: fit-content;
}

.my-works__container{
    width: inherit;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
}

.my-works__container__right-side{
    width: 40%;
    height: 300px;
    display: grid;
    place-content: center;
    border: 1px solid rgba(214, 214, 214, 0.629);
    line-height: 20px;
    padding: 10px;
}

.my-works__container__right-side p{
    height: fit-content;
}

.my-works__container__right-side h3{
    padding: 0 0 10px 0;
}

.my-works__container__left-side{
    width: 500px;
    height: 300px;
    margin: 0 10px 0 0;
    border: 1px solid rgba(214, 214, 214, 0.629);
    overflow: hidden;
}

.github-repo-link,
.github-pages-link,
.younggeeks-link,
.face-animation-link,
.figma-prototype-link,
.figma-file-link{
    background: var(--secondary-color-lighter);
    color: white;
    height: fit-content;
    width: fit-content;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    margin: 10px 0 0 0;
}

.github-repo-link:hover,
.github-pages-link:hover,
.younggeeks-link:hover,
.face-animation-link:hover,
.figma-prototype-link:hover,
.figma-file-link:hover{
    background: var(--secondary-color);
    cursor: pointer;
}

.fa-github{
    overflow-y: hidden !important;
}

.github::after{
    content: "View Project";
    padding: 0 0 0 3px;
    font-family: 'Josefin Sans', sans-serif;
}

.fa-chrome::after{
    content: "View Site";
    padding: 0 0 0 3px;
    font-family: 'Josefin Sans', sans-serif;
}

.figma-prototype::after{
    content: "View Prototype";
    padding: 0 0 0 3px;
    font-family: 'Josefin Sans', sans-serif;
}

.figma-ui::after{
    content: "View File";
    padding: 0 0 0 3px;
    font-family: 'Josefin Sans', sans-serif;
}

.viewmore{
    width: 100%;
    height: fit-content;
    display: grid;
    place-content: center;
    margin: 30px 0;
}

.repositories::after{
    content: "View More Projects";
    padding: 0 0 0 3px;
    font-family: 'Josefin Sans', sans-serif;
}

#young-geeks-background{
    background: url("../images/project-backgrounds/Younggeeks/younggeeks.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#warning-display{
    height: fit-content;
    width: 100%;
    background-color: rgb(226, 226, 226);
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: none;
    position: relative;
    cursor: pointer;
}

#warning-display p{
    padding: 10px;
}

#warning-display span{
    font-size: .8em;
}

#react-travel-journal-background{
    background: url("../images/project-backgrounds/React-Journal/react-travel-journal.png");
    background-repeat: no-repeat;
    background-size: contain;
}

img{
    width: inherit;
    height: inherit;
}

#face-animation-background{
    background: url("../images/project-backgrounds/Face-Animations/face-animation.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#login-page-ui1-background{
    overflow: hidden;
}

#login-page-ui-video{
    height: 100%;
    width: 100%;
}

.react-travel-journal__right-side a:first-child,
.react-travel-journal__right-side a:nth-child(2){
    color: var(--link-color);
}


@media screen and (max-width: 880px) {
   .my-works__container{
        flex-direction: column;
        align-items: center;
    }

   .my-works__container__right-side{
        height: fit-content;
        width: 70%;
    }

   .my-works__container__left-side{
        height: 300px !important;
        width: 70%;
        margin: 0 0 3px 0;
        /* border: none; */
    }

    #young-geeks-background,
    #react-travel-journal-background,
    #face-animation-background{
        background-size: 100% 100%;
    }

    img{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 480px) {
   .my-works__container__right-side{
        width: 90%;
        /* margin: 0; */
   }

   .my-works__container__left-side{
        width: 90%;
        /* border: none; */
        /* height: 200px !important;
        margin: 0; */
   }   

    /* #face-animation-background,
    #young-geeks-background,
    #react-travel-journal-background{
        background-position: bottom;
    } */

}