@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    /* outline: 1px solid lime; */
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

header a{
    font-size: 1em !important;
}

#real-world{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
}

#real-world__projects{
    width: 100%;
    height: fit-content;
    margin: 20px 0 0 0;
}

.real-world__header,
.personal-projects__header{
    font-size: 1.7em;
    margin: 0 0 0 20px;
}

#project-container{
    width: 100%;
    height: fit-content;
    /* background: rgb(152, 212, 212); */
    margin: 30px 0 50px 0;
}

#real-world__project1{
    background: url("../images/young-geeks.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(212, 212, 212) !important;
    box-shadow: -1px 1px 3px 3px rgba(233, 233, 233, 0.747);
}

#upper-section{
    width: inherit;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

#upper-section a,
#real-world__projects a{
    font-size: 2em;
    text-decoration: none;
    color: white;
}

.container{
    height: 200px;
    width: 300px;
    background: teal;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 30px 10px 20px 10px !important;
}

#container6{
    margin: 30px 0 0 0;
}

.content{
    height: inherit;
    width: inherit;
    border-radius: inherit;
    background: rgba(49, 49, 49, 0.505);
    opacity: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    opacity: 0;
}

@keyframes moveDown {
    from{
        height: 0%;
        opacity: 0;
    }

    to{
        height: 100%;
        opacity: 1;
    }
}

#container1,
#container2,
#container3,
#container4,
#container5,
#container6{
    background-color: rgb(212, 212, 212) !important;
}


#container1{
    background: url("../images/blog-template.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#container2{
    background: url("../images/electrical-template-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#container3{
    background: url("../images/work.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: -1px 1px 3px 3px rgba(233, 233, 233, 0.747);
}

#container4{
    background: url("../images/view.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#container5{
    background: url("../images/service-company-landingpage-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#container6{
    background: url("../images/wildlife.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (hover:hover) and (pointer: fine){
    .container:hover{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transition: all 350ms linear;
        -webkit-transition: all 350ms linear;
        -moz-transition: all 350ms linear;
        -ms-transition: all 350ms linear;
        -o-transition: all 350ms linear;
        cursor: pointer;
    }
    
    .container:hover > .content{
        animation: moveDown 350ms linear forwards;
        -webkit-animation: moveDown 350ms linear forwards;
    }
}

@media (hover: none) {
    .content{
        opacity: 1;
    }
}

.socials a{
    font-size: 1em !important;
    color: white;
}

@media screen and (max-width: 880px) {
    #real-world{
        margin: 50px 0 0 0;
    }

    #real-world__projects{
        display: flex;
        justify-content: center;
        margin: 0;
    }

    #upper-section{
        /* flex-direction: column; */
        justify-content: space-evenly;
        align-items: center;
        height: fit-content;
        margin: -10px 0 0 0;
        flex-wrap: wrap;
    }

    .container{
        width: 300px;
        /* margin: 20px 0 0 0; */
        /* margin: 3px 0 0 0; */
    }  
}