@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
@import "./general.css";

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    /* outline: 2px solid limegreen; */
}

.content{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 100px 0;
}

/*ABOUT-PROFILE*/
.about-profile{
    /* background: rgba(128, 128, 128, 0.685); */
    width: 600px;
    height: 380px;
    /* position: absolute;
    left: 180px;
    top: 100px; */
    /* background: teal; */
    position: relative;
}

.about-profile p:first-child{
    color: rgba(127,127,127,1);
    font-size: 2em;
}

.about-profile p:first-child,
.name,
.proffession{
    padding: 0 0 20px 0;
}

.about-profile .text{
    font-size: 2em;
}

/*BUTTONS*/
.buttons{
    width: 60%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button{
    width: 150px;
    height: 50px;
}

.mywork-btn,
.hireme-btn{
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 700;
}

.mywork-btn{
    background: rgba(255,82,78,1);
    color: white;
}

.mywork-btn:hover{
    background: none;
    color: rgba(255,82,78,1);
    transition: all 750ms;
    -webkit-transition: all 750ms;
    -moz-transition: all 750ms;
    -ms-transition: all 750ms;
    -o-transition: all 750ms;
    cursor: pointer;
    border: 1px solid rgba(255,82,78,1);
}

.hireme-btn{
    border: 1px solid rgba(255,82,78,1);
    background: none;
    color: rgba(255,82,78,1);
}

.hireme-btn:hover{
    background: rgb(255, 81, 78);
    cursor: pointer;
    color: white;
    transition: all 750ms;
    -webkit-transition: all 750ms;
    -moz-transition: all 750ms;
    -ms-transition: all 750ms;
    -o-transition: all 750ms;
}

/*PICTURE SECTION*/
.picture-section{
    width: 500px;
    height: 500px;
    /* position: absolute;
    right: 130px;
    top: 100px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.design1{
    background: rgba(255,82,78,1);
    grid-area: 3 / 5 / 7 / 7;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.design2{
    background: yellow;
    grid-area: 1 / 2 / 5 / 4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.image{
    background: teal;
    grid-area: 2 / 3 / 6 / 6;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /* background: url('./images/picture.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg{
    display: none;
}

@media screen and (min-width:880px) and (max-width: 1200px) {
    header nav{
        right: 50px;
    }

    header a{
        font-size: .8em;
    }

    .about-profile{
        width: 430px;
        height: 380px;
    }

    .buttons{
        width: 80%;
    }

    .picture-section{
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 880px) {
    .content{
        /* background: teal; */
        display: flex;
        height: fit-content;
        margin: 50px 0 0 0;
    }

    .about-profile{
        width: 80%;
        height: fit-content;
        animation: contentMovement 1.3s linear;
        -webkit-animation: contentMovement 1.3s linear;
        /* background: teal; */
        /* background-color: aqua; */
    }

    .about-profile .text{
        font-size: 1.8em;
        font-weight: 700;
        line-height: 38px;
        margin-bottom: 100px;
    }

    .buttons{
        width: 100%;
        justify-content: center;
        animation: contentMovement 1.3s linear;
        -webkit-animation: contentMovement 1.3s linear;
        /* margin-top: 50px; */
        /* bottom: 20px; */
    }

    .hireme-btn{
        margin: 0 0 0 10px;
    }

    .picture-section{
        display: none;
    }

    .bg{
        display: block !important;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1000' height='560' preserveAspectRatio='none' viewBox='0 0 1000 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1095%26quot%3b)' fill='none'%3e%3cpath d='M370.44 416.23 a137.01 137.01 0 1 0 274.02 0 a137.01 137.01 0 1 0 -274.02 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M959.3710883079846 463.9935821679502L934.4377650290439 346.691518740486 817.1357016015797 371.62484201942664 842.0690248805204 488.9269054468908z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M289.44252831523295 497.4167443372181L379.0494365599176 419.5226473833982 301.15533960609764 329.91573913871355 211.548431361413 407.8098360925335z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M580.024%2c294.415C612.357%2c295.327%2c648.004%2c286.787%2c662.962%2c258.107C677.257%2c230.698%2c660.053%2c199.635%2c642.853%2c173.949C628.079%2c151.887%2c606.508%2c136.151%2c580.024%2c134.25C549.428%2c132.054%2c515.702%2c137.692%2c499.353%2c163.647C482.185%2c190.902%2c487.905%2c226.229%2c504.817%2c253.644C520.864%2c279.656%2c549.473%2c293.553%2c580.024%2c294.415' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M475.606%2c568.898C510.538%2c569.933%2c535.414%2c539.363%2c553.121%2c509.234C571.146%2c478.565%2c586.55%2c441.504%2c568.49%2c410.855C550.601%2c380.498%2c510.832%2c376.835%2c475.606%2c377.689C442.295%2c378.496%2c406.263%2c385.979%2c390.205%2c415.175C374.536%2c443.665%2c389.87%2c476.441%2c405.661%2c504.864C422.114%2c534.48%2c441.742%2c567.894%2c475.606%2c568.898' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M179.306%2c566.65C221.657%2c565.427%2c257.97%2c542.069%2c281.841%2c507.065C309.988%2c465.791%2c335.357%2c415.36%2c312.915%2c370.727C288.885%2c322.935%2c232.739%2c300.607%2c179.306%2c303.142C129.949%2c305.484%2c89.441%2c338.95%2c65.987%2c382.442C43.797%2c423.59%2c41.48%2c473.479%2c65.975%2c513.298C89.423%2c551.414%2c134.574%2c567.942%2c179.306%2c566.65' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M273.2499650576565 297.75155193696975L383.45627640889876 344.6553588575076 372.5121665009522 240.52910856623566z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M200.93982892357369 200.60093824997983L52.607975860699895 269.7692172815199 121.77625489223993 418.10107034439363 270.1081079551137 348.9327913128536z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M901.111%2c443.263C950.433%2c444.672%2c1007.932%2c450.607%2c1034.993%2c409.347C1063.601%2c365.728%2c1045.274%2c309.045%2c1018.505%2c264.273C992.578%2c220.91%2c951.561%2c182.712%2c901.111%2c185.425C853.708%2c187.975%2c826.912%2c234.4%2c803.725%2c275.824C781.307%2c315.875%2c756.778%2c362.383%2c779.854%2c402.058C802.858%2c441.609%2c855.376%2c441.956%2c901.111%2c443.263' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M91.79 380.29 a114.31 114.31 0 1 0 228.62 0 a114.31 114.31 0 1 0 -228.62 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M422.84299846216345 558.0936814042252L530.076243319112 485.76394445956396 457.7465063744508 378.5306996026154 350.5132615175022 450.86043654727666z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M868.27 227.96 a100.24 100.24 0 1 0 200.48 0 a100.24 100.24 0 1 0 -200.48 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M604.9787993201415 275.23943135205934L710.1553368191863 295.68367922515847 730.5995846922855 190.50714172611364 625.4230471932407 170.06289385301454z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M548.3596249816047 85.45975797669418L456.56794207788573 138.45571081052515 581.9577127804916 249.64525874918817z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-11.56 455.39 a145.56 145.56 0 1 0 291.12 0 a145.56 145.56 0 1 0 -291.12 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M592.573%2c505.674C637.629%2c505.843%2c681.565%2c482.092%2c701.145%2c441.513C718.87%2c404.78%2c698.1%2c364.998%2c677.414%2c329.847C657.154%2c295.42%2c632.514%2c257.672%2c592.573%2c257.02C551.911%2c256.356%2c523.289%2c291.869%2c502.795%2c326.995C482.085%2c362.491%2c466.955%2c403.981%2c485.406%2c440.702C505.508%2c480.71%2c547.799%2c505.506%2c592.573%2c505.674' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M717.4346177095705 334.15019660860713L666.3820582297463 415.85137034009165 814.4600985668852 451.5796226940855z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M563.04 469.53 a122.82 122.82 0 1 0 245.64 0 a122.82 122.82 0 1 0 -245.64 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1095'%3e%3crect width='1000' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");        height: 400px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #namee{
        font-weight: 700;
        color: rgb(26, 134, 134);
        font-size: 1em;
    }

    #footer{
        display: none !important;
    }
}


@media screen and (max-width: 207px) {
    .bg{
        display: none;
    }
}

